@font-face {
	font-family: "Roboto Flex";
	src: url("../fonts/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].ttf");
	font-weight: 100 1000;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 750px;
	width: 500px;
	overflow: hidden;

}

.title {
	position: absolute;
	top: 10px;
	left: 15px;
	font-family: "Roboto Flex";
	font-weight: 700;
	letter-spacing: .5px;
	line-height: 70px;
	color: #eb7425;
	font-size: 70px;
	text-align: left;
}

.author {
	position: absolute;
	top: 70px;
	left: 150px;
	width: 200px;
	text-align: right;
	font-family: "Roboto Flex";
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 60px;
	color: #ecece7;
	font-size: 60px;
	z-index: 5;
}

.black {
	position: absolute;
	height: 375px;
	width: 500px;
	background-color: #242422;
}

.white {
	position: relative ;
	top: 375px;
	height: 375px;
	width: 500px;
	background-color: #ecece7;
}

.orangecircle {
	position: absolute;
	top: 200px;
	left: 50px;
	height: 650px;
	width: 650px;
	border-radius: 100%;
	background-color: #eb7425;
	z-index: 2;
}

.pupil {
	position: absolute;
	top: 350px;
	left: 275px;
	height: 225px;
	width: 225px;
	border-radius: 100%;
	background-color: #242422;
	z-index: 3;
	animation: eye 10s infinite ease-in-out;
	animation-delay: 2s;
}

.highlight {
	position: absolute;
	top: 115px;
	left: 35px;
	height:45px;
	width: 45px;
	border-radius: 100%;
	background-color: #ecece7;
}

@keyframes eye {
	0%,100% {top: 350px; left: 275px;}
	30% {top: 200px; left: 75px;}
	60% {top: 100px; left: 200px;}
}
